<div class="container">
    <header>
    <div style='text-align:center' id='meta-stats'>
	    <h1>twitter bubble cloud</h1>
	    <h4 ng-if='search.option=="user"'>Most frequently used phrases by: <b>@{{testphrase}}</b></h4>
	    <h4 ng-if='search.option=="sentiment"'>
			Analyzed <span id='numberOfTweets' style='font-weight:bold'>0</span> tweets 
		    for the phrase: <b>@{{testphrase}}</b>
		</h4>    	
    </div>
	<div id="overlay-inAbox" class="overlay">
	    <div class="wrapper">
			<ul class="timeline">
				<li style='padding:7px 0'><b id='twitteruser'></b></li>
				<li>
				    <div class="avatar">
						<img id='userprofileurl' src="#">
						<span id='twitterusername'></span>
				    </div>
				    <div class="bubble-container">
				    	<a href="#" target='_blank' id='tweeturl'>
						    <div class="bubble">
						 	    <div class="retweet">
							        <div class="icon-retweet"></div>
						        </div>
						        <span id='usertweet' style='text-align:justify;color:#000'></span>
							</div>
						</a>
				    </div>
				</li>
			</ul>
	    </div>
	</div>		

      
    </header>
    <div ng-if='search.option=="user"'>
	    <div id="main" role="main">
	      <div id="vis"></div>
	      <div id="status"></div>
	    </div>    	
    </div>

	<div  ng-if='search.option=="sentiment"'>
	    <div id="demo" style="text-align: center;">
	    </div>
	</div>
 

</div>

<!-- <script type="text/javascript" src="js/vis.js"></script> -->